<% provide(:title, "Reading the Question")%>

<div class="browse_question_article_flex">
  <div class="main_view">
    <div class="title">
      <%= @question.title %>
    </div>
    <hr>
    <div class="user_info">
      <div class="info_content">
        <div>
          <% if @question.user.avatar? %>
            <div class="avatar_img">
              <%= image_tag @question.user.avatar.thumb_min.url , class: "avatar" %>
            </div>
          <% end %>
        </div>
        <div class="name">
          <a href="<%= user_path(@question.user) %>"><%= @question.user.name %></a>
        </div>
      </div>
      <div class="selfintrodution">
        <%= @question.user.selfintrodution %>
      </div>
    </div>
    <div class="other_info">
      <div class="items">
        <% if @question.solve %>
          <div class="solve_question">
            解決
          </div>
        <% else %>
          <div class="not_solve_question">
            未解決
          </div>
        <% end %>
      </div>
      <div class="items">
        <div class="curious_button">
          <% if @question.solve %>
            <div class="already_solved">
              気になる計
            </div>
          <% else %>
            <%if current_user.sum_curious_per_user.include?(@question) %>
              <%= render 'notcurious' %>
            <% else %>
              <%= render 'curious' %>
            <% end%>
          <% end %>
        </div>
        <div id="number_curious">
          <%= @question.sum_curious_per_question.count %>
        </div>
      </div>
      <div class="items">
        <div class="questionbookmark_button">
          <%if current_user.sum_questionbookmark_per_user.include?(@question) %>
            <%= render 'notbookmark' %>
          <% else %>
            <%= render 'bookmark' %>
          <% end %>
        </div>
        <div id="number_questionbookmark">
          <%= @question.sum_questionbookmark_per_question.count %>
        </div>
      </div>
    </div>
    <div class="text">
      <%= @question.questiontext %>
    </div>
    <div class="comment_section">
      <div class="mark_for_user">
        コメント
      </div>
      <% @question.question_comments.each do |comment| %>
        <div class="existing_comment">
          <div class="comment_user">
            <% if comment.user.avatar? %>
              <div class="commenter_avatar">
                <%= image_tag comment.user.avatar.thumb_min.url , class: "avatar" %>
              </div>
            <% end %>
            <div class="name">
              <%= comment.user.name %>
            </div>
          </div>
          <div class="comment">
            <%= comment.comment %>
          </div>
          <% if comment.user == current_user %>
            <div class="delete">
              <%= link_to "削除", question_comment_path(comment), method: :delete, data: { confirm: "削除しますか?" } %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="new_comment">
        <%= form_with(model: @question.question_comments.build, local: true) do |f| %>

          <div><%= f.hidden_field :question_id, :value => @question.id %></div>
          <div><%= f.hidden_field :user_id, :value => current_user.id %></div>

          <div class="richtext_form">
            <%= f.label :comment, "コメント投稿", class: "form-label" %>
            <%= f.rich_text_area :comment, {class: "trix-content form_height"} %>
          </div>

          <div class="submit_button">
            <%= f.submit "コメント投稿", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
