<% provide(:title, "Reading the Question")%>

<div class="browse_question_article_flex">
  <div class="main_view">
    <div class="title">
      <%= @question.title %>
    </div>
    <hr>
    <div class="user_info">
      <div class="info_content">
        <div>
          <% if @question.user.avatar? %>
            <div class="avatar_img">
              <%= image_tag @question.user.avatar.thumb_min.url , class: "avatar" %>
            </div>
          <% end %>
        </div>
        <div class="name">
          <a href="<%= user_path(@question.user) %>"><%= @question.user.name %></a>
        </div>
      </div>
      <div class="selfintrodution">
        <%= @question.user.selfintrodution %>
      </div>
    </div>
    <div class="other_info">
      <div class="items">
        <% if @question.solve %>
          <div class="solve_question">
            解決
          </div>
        <% else %>
          <div class="not_solve_question">
            未解決
          </div>
        <% end %>
      </div>
      <div class="items">
        <div class="curious_button">
          <% if @question.solve %>
            <div class="already_solved">
              気になる計
            </div>
          <% else %>
            <%if current_user.sum_curious_per_user.include?(@question) %>
              <%= render 'notcurious' %>
            <% else %>
              <%= render 'curious' %>
            <% end%>
          <% end %>
        </div>
        <div id="number_curious">
          <%= @question.sum_curious_per_question.count %>
        </div>
      </div>
      <div class="items">
        <div class="questionbookmark_button">
          <%if current_user.sum_questionbookmark_per_user.include?(@question) %>
            <%= render 'notbookmark' %>
          <% else %>
            <%= render 'bookmark' %>
          <% end %>
        </div>
        <div id="number_questionbookmark">
          <%= @question.sum_questionbookmark_per_question.count %>
        </div>
      </div>
    </div>
    <div class="text">
      <%= @question.questiontext %>
    </div>
    <div class="comment">
      コメントーアカウント保持者限定ー
    </div>
  </div>
</div>
