<% provide(:title, "Create an Question")%>

<%= form_with(model: @question, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.hidden_field(:solve) %>

  <div class="form_inclosure">
    <div class="create_question_mark">
      質問作成
    </div>
    <div class="link_line_design replace_left create_bottom_margin">
    </div>
    <div class="article_question_form">
      <%= f.label :title, "質問タイトル", class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <%= render partial: 'shared/commonpart_create_article_question', locals: { f: f, article_or_question: "question" } %>
    <div class="richtext_form">
      <%= f.label :questiontext, "質問本体", class: "form-label white_text" %>
      <div class="white_background">
        <%= f.rich_text_area :questiontext, {class: "trix-content form_height"} %>
      </div>
    </div>
    <div class="submit_button">
      <div>
        <%= f.submit "質問作成", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>