<% provide(:title, "personal questions list")%>

<div class="search_form">
  <div class="adjust_position">
    <div class="user_name"><%= @user.name %>さんの質問</div>
    <div class="link_line_design add_margin_bottom"></div>
    <%= form_with url: question_path(@user), method: :get, local: true do |f| %>
      <%= hidden_field_tag :use_form, "true" %>
      <div class="search">
        <%= f.text_field :content, placeholder: "質問タイトルの検索", class: "search_input" %>
        <%= f.submit '検索', class: "button_size btn btn-primary" %>
      </div>
      <%= render partial: 'shared/search_form_common', locals: { f: f, question_or_article: "question" } %>
    <% end %>
  </div>
</div>

<div class="sum_question_article">
  <% if @matched_questions.nil? %>
    <div>合計質問数 / <%= @user.questions.count %></div>
  <% else %>
    <div>検索結果 / <%= @matched_questions.count%>件</div>
  <% end %>
</div>
<div class="personal_question_article_list">
  <% if @user.questions.any? %>
    <%= render partial: 'shared/article_question_list', locals: { article_or_question_collection: @questions } %>
    <div class="pagenation">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% else %>
    <strong>まだ作成されていません</strong>
  <% end %>
</div>
<%= javascript_pack_tag 'incremental_search', 'data-turbolinks-track': 'reload' %>