<% provide(:title, "Home") %>
<% if logged_in? %>
  <% if @article_or_question.class == Article %>
    <div class="select_article_question_tab">
      <div class="article_tab">
        <%= render partial: 'article_selected', locals: { color: "black" } %>
      </div>
      <div class="question_tab">
        <%= render partial: 'question_selected', locals: { color: "not_black" } %>
      </div>
    </div>
    <div class="home_search_form">
      <div class="adjust_position">
        <div class="form_name">検索フォーム</div>
        <div class="link_line_design add_margin_bottom"></div>
        <%= form_with url: home_path, method: :get, local: true do |f| %>
          <div><%= hidden_field_tag :use_form, "true" %></div>
          <div><%= hidden_field_tag :model, "Article" %></div>
          <div class="search">
            <%= f.text_field :content, placeholder: "記事タイトルの検索  例:数学 関数", class: "search_input" %>
            <%= f.submit '検索', class: "button_size btn btn-primary" %>
          </div>
          <%= render partial: 'shared/search_form_common', locals: { f: f, question_or_article: "article" } %>
        <% end %>
      </div>
    </div>

    <div class="sum_question_article">
      <% if @matched_articles.nil? %>
        <div>合計記事数 / <%= Article.count %></div>
      <% else %>
        <div>検索結果 / <%= @matched_articles.count %>件</div>
      <% end %>
    </div>
    <div class="personal_question_article_list">
      <% if Article.any? %>
        <%= render partial: 'shared/article_question_list', locals: { article_or_question_collection: @articles } %>
        <div class="pagenation">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      <% else %>
        <strong>まだ作成されていません</strong>
      <% end %>
    </div>
  <% else %>
    <div class="select_article_question_tab">
      <div class="article_tab">
        <%= render partial: 'article_selected', locals: { color: "not_black" } %>
      </div>
      <div class="question_tab">
        <%= render partial: 'question_selected', locals: { color: "black" } %>
      </div>
    </div>
    <div class="home_search_form">
      <div class="adjust_position">
        <div class="form_name">検索フォーム</div>
        <div class="link_line_design add_margin_bottom"></div>
        <%= form_with url: home_path, method: :get, local: true do |f| %>
          <div><%= hidden_field_tag :model, "Question" %></div>
          <%= hidden_field_tag :use_form, "true" %>
          <div class="search">
            <%= f.text_field :content, placeholder: "質問タイトルの検索  例: 高校 古文", class: "search_input" %>
            <%= f.submit '検索', class: "button_size btn btn-primary" %>
          </div>
          <%= render partial: 'shared/search_form_common', locals: { f: f, question_or_article: "question" } %>
        <% end %>
      </div>
    </div>

    <div class="sum_question_article">
      <% if @matched_questions.nil? %>
        <div>合計質問数 / <%= Question.count %></div>
      <% else %>
        <div>検索結果 / <%= @matched_questions.count%>件</div>
      <% end %>
    </div>
    <div class="personal_question_article_list">
      <% if Question.any? %>
        <%= render partial: 'shared/article_question_list', locals: { article_or_question_collection: @questions } %>
        <div class="pagenation">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      <% else %>
        <strong>まだ作成されていません</strong>
      <% end %>
    </div>
  <% end %>
<% else %>
<div class="image_display">
  <div class="for_root_page">
    <% flash.each do |message_type,message| %>
      <div class="alert alert-<%= message_type %>" role="alert"><%= message %></div>
    <% end %> 
  </div>
  <div class="heading_and_links">
    <div class="heading">
      Understand
      <br>
      Express
    </div>
    <div class="login_link">
      <%= link_to "Login", login_path %>
    </div>
    <div class="link_line_design">
    </div>
    <div class="signup_link">
      <%= link_to "Sign up", signup_path %>
    </div>
    <div class="link_line_design">
    </div>
    <div class="test_login_link">
      <%= link_to "Test login", testlogin_path %>
    </div>
    <div class="link_line_design">
    </div>
  </div>
</div>
<%= javascript_pack_tag 'judgement_notPC.js', 'data-turbolinks-track': 'reload' %>
<% end %>
<%= javascript_pack_tag 'incremental_search', 'data-turbolinks-track': 'reload' %>