<% provide(:title, "Create an Article")%>

<%= form_with(model: @article, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form_inclosure">
    <div class="edit_article_mark">
      記事編集
    </div>
    <div class="link_line_design replace_left create_bottom_margin">
    </div>
    <div class="article_question_form">
      <%= f.label :title, "記事タイトル", class: "form-label" %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <%= render partial: 'shared/commonpart_create_edit_article_question', locals: { f: f, article_or_question: "article" } %>
    <div class="richtext_form">
      <%= f.label :articletext, "記事本体", class: "form-label white_text" %>
      <div class="white_background">
        <%= f.rich_text_area :articletext, {class: "trix-content form_height"} %>
      </div>
    </div>
    <div class="submit_button">
      <div>
        <%= f.submit "記事更新", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>