<% provide(:title, "personal article list")%>

<div class="search_form">
  <div class="adjust_position">
    <div class="user_name"><%= @user.name %>さんの記事</div>
    <div class="link_line_design add_margin_bottom"></div>
    <%= form_with url: article_path(@user), method: :get, local: true do |f| %>
      <div><%= hidden_field_tag :use_form, "true" %></div>
      <div class="search">
        <%= f.text_field :content, placeholder: "記事タイトルの検索", class: "search_input" %>
        <%= f.submit '検索', class: "button_size btn btn-primary" %>
      </div>
      <%= render partial: 'shared/search_form_common', locals: { f: f, question_article: "article" } %>
    <% end %>
  </div>
</div>

<div class="sum_question_article">
  <% if @matched_articles.nil? %>
    <div>合計記事数 / <%= @user.articles.count %></div>
  <% else %>
    <div>検索結果 / <%= @matched_articles.count %>件</div>
  <% end %>
</div>
<div class="personal_question_article_list">
  <% if @user.articles.any? %>
    <% @articles.each do |article| %>
      <div class="an_item">
        <div class="content">
          <div class="title">
            <%= link_to article.title, browsing_article_path(article) %>
          </div>
          <div class="flex">
            <div class="flex_item_adjustment">文章の正しさ&thinsp;/&thinsp;<%= article.accuracy_text %></div>
            <div class="flex_item_adjustment">文章難易度&thinsp;/&thinsp;<%= article.difficultylevel_text %></div>
            <div>最終修正日&thinsp;/&thinsp;<%= ApplicationRecord.date_expression_change(article.updated_at) %></div>
          </div>
          <div class="flex">
            <div class="flex_item_adjustment">小学生向け&thinsp;:&thinsp;<%= ApplicationRecord.inspect_level(article.Eschool_level) %></div>
            <div class="flex_item_adjustment">中学生向け&thinsp;:&thinsp;<%= ApplicationRecord.inspect_level(article.JHschool_level) %></div>
            <div>高校生向け&thinsp;:&thinsp;<%= ApplicationRecord.inspect_level(article.Hschool_level) %></div>
          </div>
          <% if current_user?(article.user) %>
            <div>
              <%= link_to "削除", article, method: :delete, data: { confirm: "削除しますか?" } %>
              &ensp;&ensp;<%= link_to "編集", edit_article_path(article) %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="distinction_line"></div>
    <% end %>
    <div class="pagenation">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% else %>
    <strong>まだ作成されていません</strong>
  <% end %>
</div>
<%= javascript_pack_tag 'incremental_search', 'data-turbolinks-track': 'reload' %>