<% provide(:title, "personal article list")%>
<h1>記事投稿リスト</h1>

<div class="search_form">
  <div class="user_name"><%= @user.name %>さんの記事</div>
  <%= form_with url: personalrecord_searchresult_path(@user), method: :get, local: true do |f| %>

    <div class="search">  
      <%= f.text_field :content, class: "search_input" %>
      <%= f.submit '検索', class: "button_size btn btn-primary" %>
    </div>

    <div class="flex_container">
      <div class="condition">文章の正確さ</div>
      <% #url:https://apidock.com/rails/ActionView/Helpers/FormHelper/check_box %>
      <% evaluations = [1,2,3,4,5] %>
      <div class="checkbox">
        <% evaluations.each do |eva| %>
          <%= f.check_box :accuracy_select, { multiple: true, class: "space" }, eva, nil %>
          <%= eva %>
        <% end %>
      </div>
    </div>

    <div class="flex_container">
      <div class="condition">文章難易度</div>
      <div class="checkbox">
        <% evaluations.each do |eva| %>
          <%= f.check_box :difficulty_select, { multiple: true, class: "space" }, eva, nil %>
          <%= eva %>
        <% end %>
      </div> 
    </div>


    <div class="flex_container">
      <div class="condition">期日</div>
      <div class="input_term">
          <%= f.date_field :term_from %> ~
          <%= f.date_field :term_to %>
      </div>
    </div>

  <% end %>
</div>

<div class="sum_article">
  <div>Article count / <%= @user.articles.count %></div>
</div>
<div class="personal_article_list">
  <% if @user.articles.any? %>
    <% @articles.each do |article| %>
      <div class="an_item interspace_items">
        <table>
          <tbody>
            <tr>
              <%= link_to article.title, browsing_article_path(article) %>
            </tr>
            <tr>
              <td>文章の正しさ:<%= article.accuracy_text %>&ensp;|&ensp;</td>
              <td>文章難易度:<%= article.difficultylevel_text %>&ensp;|&ensp;</td>
              <td>最終修正日:<%= article.updated_at %></td>
            </tr>
            <tr>
              <td>小学生向け:<%= Article.inspect_level(article.Eschool_level) %>&ensp;|&ensp;</td>
              <td>中学生向け:<%= Article.inspect_level(article.JHschool_level) %>&ensp;|&ensp;</td>
              <td>高校生向け:<%= Article.inspect_level(article.Hschool_level) %></td>
            </tr>
          </tbody>
        </table>
        <% if current_user?(article.user) %>
          <hr class="separation">
          <div>
            <%= link_to "削除", article, method: :delete, data: { confirm: "削除しますか?" } %>
            &ensp;|&ensp;<%= link_to "編集", edit_article_path(article) %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% else %>
    <strong>まだ作成されていません</strong>
  <% end %>
</div>