<% provide(:title, "personal article list")%>
<h1>記事投稿リスト</h1>

<div class="search_form">
  <p><%= @user.name %>さんの記事</p>
  <%= form_with url: result_path, method: :get, local: true do |f| %>
    <%= f.text_field :content %>
    <%= f.submit '検索' %>
    <h2>文章の正確さ</h2>
    
    <% #url:https://apidock.com/rails/ActionView/Helpers/FormHelper/check_box %>
    <% evaluations = [1,2,3,4,5] %>
    <% evaluations.each do |eva| %>
      <%= f.check_box :accuracy_select, { multiple: true }, eva, nil %>
      <%= eva %>
    <% end %> 

    <h2>文章難易度</h2>
    <% evaluations.each do |eva| %>
      <%= f.check_box :difficulty_select, { multiple: true }, eva, nil %>
      <%= eva %>
    <% end %> 

    <h2>期日</h2>
    <%= f.date_field :term_from %> ~
    <%= f.date_field :term_to %>

  <% end %>
</div>

<div class="sum_article">
  <div>Article count / <%= @user.articles.count %></div>
</div>
<div class="personal_article_list">
  <% if @user.articles.any? %>
    <% @articles.each do |article| %>
      <div class="an_item interspace_items">
        <table>
          <tbody>
            <tr>
              <%= link_to article.title, browsing_article_path(article) %>
            </tr>
            <tr>
              <td>文章の正しさ:<%= article.accuracy_text %>&ensp;|&ensp;</td>
              <td>文章難易度:<%= article.difficultylevel_text %>&ensp;|&ensp;</td>
              <td>最終修正日:<%= article.updated_at %></td>
            </tr>
            <tr>
              <td>小学生向け:<%= Article.inspect_level(article.Eschool_level) %>&ensp;|&ensp;</td>
              <td>中学生向け:<%= Article.inspect_level(article.JHschool_level) %>&ensp;|&ensp;</td>
              <td>高校生向け:<%= Article.inspect_level(article.Hschool_level) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    <% end %>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% else %>
    <strong>まだ作成されていません</strong>
  <% end %>
</div>