<% provide(:title, "Edit User")%>

<%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form_inclosure">
        <%= render partial: 'shared/commonpart_signup_edituser',
         locals: { f: f, content: "アカウント更新", content_style: "user_edit_mark" } %>
        <div class="input_form">
            <%= f.label :avatar, "プロフィール画像", class: "form-label" %>
            <% if @user.avatar? %>
                <div class="edit_avatar_flex">
                    <div class="place_adjustment">
                        現在の画像
                    </div>
                    <div>
                        <%= image_tag @user.avatar.thumb.url , class: "avatar" %>
                    </div>
                </div>
            <% else %>
                <div class="edit_avatar_flex">
                    <div class="place_adjustment">
                        現在の画像
                    </div>
                    <div>
                        <%= render 'shared/default_large_avatar' %>
                    </div>
                </div>
            <% end %>
            <%= f.file_field :avatar, class: "form-control" %>
        </div>
        <% if @user.avatar? %>
            <div class="input_form">
                <%= f.label :remove_avatar, "プロフィール画像消去", class: "form-label" %>
                <%= f.check_box :remove_avatar %>
            </div>
        <% end %>
        <div class="submit_button">
            <div>
                <%= f.submit "アカウント更新", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>