<% provide(:title, 'Sign up')%>

<%= form_with(model: @user, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="form_inclosure">
        <%= render partial: 'shared/commonpart_signup_edituser',
         locals: { f: f, content: "サインアップ", content_style: "signup_mark" } %>
        <div class="input_form">
            <%= f.label :avatar, "プロフィール画像", class: "form-label" %>
            <%= f.file_field :avatar, class: "form-control" %>
        </div>
        <div class="submit_button">
            <div>
                <%= f.submit "アカウント作成", class: "btn btn-primary" %>
            </div>
        </div>
    </div>
<% end %>