<header>
  <div class="header_flex_container">
    <div class="header_logo">
      <div class="logo_position">
        UExpress
      </div>
    </div>
    <div class="header_btn">
      <div class="btn_element"></div>
      <div class="btn_element"></div>
      <div class="btn_element"></div>
    </div>
  </div>
</header>

<%# ハンバーガーメニュー表示部 %>
<div class="hidden_screen">
  <div class="not_menu">
  </div>
  <div class="header_menu">
    <li class="header_menu_item">
      <a href='/'>home</a>
    </li>
    <li class="header_menu_item">
      <a href="/help">help</a>
    </li>
    <li class="header_menu_item">
      <a href='/about'>about</a>
    </li>
    <li class="header_menu_item">
      <a href='/contact'>contact</a>
    </li>
    <% if logged_in? %>
      <li class="header_menu_item"><%= link_to "ログアウト", logout_path, method: :delete%></li>
      <li class="header_menu_item"><%= link_to "プロフィール", user_path(current_user)%></li>
      <li class="header_menu_item"><%= link_to "アカウント更新", edit_user_path(current_user)%></li>
      <li class="header_menu_item"><%= link_to "記事作成", new_article_path %></li>
      <li class="header_menu_item"><%= link_to "質問作成", new_question_path %></li>
      <li class="header_menu_item"><%= link_to "通知設定", '#'%></li>  
      <li class="header_menu_item"><%= link_to "記事niceリスト", user_nice_path(current_user) %></li>
      <li class="header_menu_item"><a href="#">記事ブックマーク</a></li>
      <li class="header_menu_item"><a href="#">気になる質問リスト</a></li>
      <li class="header_menu_item"><%= link_to "記事投稿リスト", article_path(current_user) %></li>
      <li class="header_menu_item"><%= link_to "質問投稿リスト", question_path(current_user) %></li>       
    <% end %>
    <% if current_user && current_user.admin? %>
        <li class="header_menu_item"><%= link_to "ユーザー削除", users_path%></li>
    <% end %>
  </div>
</div>
